body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f8fafc;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.themxeve-header {
  background: #2563eb;
  color: white;
  padding: 16px auto;
  font-size: 22px;
  font-weight: 600;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: fit-content;
  margin: 0 auto;
  min-width: 30%;
  display: flex;
  justify-content: center;
}

.themxeve-container {
  margin: 30px auto;
  background: white;
  padding: 25px 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* h2,
h3 {
  text-align: center;
  color: #1e293b;
} */

.input-section {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.ten input {
  min-width: 300px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.form-group.small {
  flex: 1;
}

label {
  font-weight: 600;
  margin-bottom: 5px;
}

input,
select,
textarea {
  padding: 8px 10px;
  border: 1px solid #cbd5e1;
  border-radius: 6px;
  font-size: 14px;
}

textarea {
  resize: vertical;
}

/* Lưới sân chia 4 cột */
.san-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px 16px;
  background: #f9fafb;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #e2e8f0;
}

.san-grid label {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 500;
  cursor: pointer;
}

/* Nút hành động */
.action-area {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 20px;
}

.btn {
  border: none;
  border-radius: 6px;
  padding: 10px 18px;
  font-weight: 600;
  cursor: pointer;
  color: white;
  transition: all 0.3s;
}

.btn-primary {
  background-color: #2563eb;
}

.btn-primary:hover {
  background-color: #1e40af;
}

.btn-secondary {
  background-color: #6b7280;
}

.btn-secondary:hover {
  background-color: #4b5563;
}
