
.app {
  display: flex;
  flex-direction: column;
  /* grid-template-columns: 260px 1fr; */
  min-height: 100vh;
  width: 100%;
}

.main-content {
  flex: 1;
  padding-top: 73px;
  overflow: hidden;
  
}

.main-content.main-content--admin {
  padding-top: 0;
}

